* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://i.picsum.photos/id/1016/3844/2563.jpg?hmac=WEryKFRvTdeae2aUrY-DHscSmZuyYI9jd_-p94stBvc);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel {
  padding: 10% 10%;
  align-items: center;
  justify-items: center;
}

.item {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
}

.h3,
.h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.paragraph {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.owl-carousel .owl-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
