* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1474540412665-1cdae210ae6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1962&q=80);
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel {
  overflow: hidden;
}

.item {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  padding: 2%;
}

.h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}

.h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 40px;
}
.paragraph {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  text-align: left;
}
.owl-carousel .owl-item img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (max-width: 800px) {
  .item {
    flex-direction: column;
  }
}
